<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>addMethodOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3BF24C61C0ADFA40046D439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF24E21C0ADFA60046D439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF24ED1C0ADFA60046D439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
